.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
}

.logo {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  margin-bottom: 30px;
}


h1 {
  color: #800000;
  font-size: 48px;
  margin-bottom: 30px;
}

button {
  background-color: #800000;
  color: white;
  padding: 15px 60px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #600000;
}